@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #409fff;
    overflow: hidden;
    z-index: 0;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
}

.background li:nth-child(1) {
    left: 44%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 1s;
}

.background li:nth-child(2) {
    left: 64%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 3s;
}

.background li:nth-child(3) {
    left: 74%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 1s;
}

.background li:nth-child(4) {
    left: 30%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 8s;
}

.background li:nth-child(5) {
    left: 22%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 18s;
}

.background li:nth-child(6) {
    left: 43%;
    width: 132px;
    height: 132px;
    bottom: -132px;
    animation-delay: 13s;
}
